version: '3.8'

services:
  webapp:
    build: .
    ports:
      - "5000:5000"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /opt/stacks:/local/stacks
      - /opt/dockge:/local/dockge
      - /var/backups/docker:/var/backups/docker
      - ./webapp_data:/data
    environment:
      - DATABASE_URL=postgresql://user:password@db:5432/docker_archiver
    user: root
    depends_on:
      - db

  db:
    image: postgres:13
    volumes:
      - ./postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=docker_archiver