services:
  app:
    build: .
    ports:
      - "5000:5000"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /opt/stacks:/local/stacks
      - /opt/dockge:/local/dockge
      - /var/backups/docker:/archives
    environment:
      DATABASE_URL: "postgresql://user:password@db:5432/docker_archiver"
      TZ: "Europe/Berlin"
      SECRET_KEY: "change_this_secret_key"
      DB_CONNECT_TIMEOUT: "5"
      DB_INIT_ATTEMPTS: "6"
      APPRISE_ENABLED: "false"
      APPRISE_URLS: ""
    depends_on:
      - db

  db:
    image: postgres:13
    volumes:
      - ./postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=docker_archiver